@model House_Data.Models.House

@{
    ViewData["Title"] = "刪除";
}

<h1>刪除</h1>

<h3>是否確定要刪除本物件？</h3>
<div>
    <h4>House</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.houseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.houseType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.houseAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.houseAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.salesId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.salesId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-action="Index">返回列表</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}