@model IEnumerable<House_Data.Models.House>

@{
    ViewData["Title"] = "房屋物件管理";
}

<h1>房屋物件管理</h1>

<p>
    <a asp-action="Create">新增資料</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.houseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.houseAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.houseType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.houseAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">編輯</a> |
                <a asp-action="Details" asp-route-id="@item.id">詳細資料</a> |
                <a asp-action="Delete" asp-route-id="@item.id">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}